---
- name: Verify Ingress installation
  hosts: all
  tasks:
    - name: Check if ingress-nginx manifest exists
      ansible.builtin.stat:
        path: /etc/kubernetes/manifests/ingress-nginx.yaml
      register: ingress_manifest

    - name: Assert Ingress is installed
      ansible.builtin.assert:
        that:
          - ingress_manifest.stat.exists
