---
- name: Verify Ingress NGINX configuration
  hosts: all
  tasks:
    - name: Check Ingress NGINX manifest applied
      ansible.builtin.command: kubectl get pods -n ingress-nginx | grep nginx
      register: ingress_nginx_manifest
      changed_when: false

    - name: Assert Ingress NGINX pods are running
      ansible.builtin.assert:
        that:
          - "'nginx' in ingress_nginx_manifest.stdout"
