---
- name: Verify Ingress NGINX installation
  hosts: all
  tasks:
    - name: Check if Ingress manifest exists
      ansible.builtin.stat:
        path: /etc/kubernetes/ingress-nginx.yaml
      register: ingress_nginx_ingress_manifest

    - name: Assert Ingress NGINX is installed
      ansible.builtin.assert:
        that:
          - ingress_nginx_ingress_manifest.stat.exists
