---
- name: Install Calico CNI
  ansible.builtin.command: kubectl apply -f https://docs.projectcalico.org/manifests/calico.yaml
  args:
    creates: /etc/cni/net.d/calico-kubeconfig
  tags:
    - network
    - calico
