---
- name: Download kubeadm binary
  get_url:
    url: https://dl.k8s.io/release/v1.27.0/bin/linux/amd64/kubeadm
    dest: /usr/local/bin/kubeadm
    mode: '0755'
  register: kube_master_kubeadm_binary
