---
- name: Ensure kubectl is available
  ansible.builtin.stat:
    path: /usr/bin/kubectl
  register: ingress_nginx_kubectl_binary

- name: Fail if kubectl is not installed
  ansible.builtin.fail:
    msg: "kubectl is not installed. Please install kubectl before proceeding."
  when: not ingress_nginx_kubectl_binary.stat.exist

- name: Install Ingress NGINX Controller
  ansible.builtin.command: kubectl apply -f {{ ingress_manifest_url }}
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf
  args:
    creates: /etc/kubernetes/manifests/ingress_nginx.yaml
  when: ingress_nginx_kubectl_binary.stat.exist
