---
- name: Install NGINX Ingress Controller
  ansible.builtin.command: kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/cloud/deploy.yaml
  args:
    creates: /etc/kubernetes/manifests/ingress-nginx-controller.yaml
  tags:
    - ingress
    - nginx
