---
driver:
  name: docker
platforms:
  - name: instance
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    privileged: true
    command: /lib/systemd/systemd
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
provisioner:
  name: ansible
  lint: |
    yamllint .
    ansible-lint
scenario:
  test_sequence:
    - lint
    - destroy
    - create
    - converge
    - converge  # Idempotens-test
    - verify
    - destroy
verifier:
  name: ansible

