---
- name: Verify kubeadm configuration
  hosts: all
  tasks:
    - name: Check if admin.conf exists
      ansible.builtin.stat:
        path: /etc/kubernetes/admin.conf
      register: kube_master_admin_conf

    - name: Assert admin.conf exists
      ansible.builtin.assert:
        that:
          - kube_master_admin_conf.stat.exists