---
- name: Disable swap
  ansible.builtin.command: swapoff -a
  when: ansible_swaptotal_mb > 0
  tags:
    - preflight
    - swap

- name: Ensure swap is disabled in fstab
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '^([^#].*swap.*)$'
    replace: '# \1'
  tags:
    - preflight
    - swap

- name: Load kernel modules
  ansible.builtin.shell: |
    modprobe br_netfilter
    modprobe overlay
  args:
    creates: /proc/sys/net/bridge/bridge-nf-call-iptables
  tags:
    - preflight
    - kernel


