---
- name: Verify Calico installation
  hosts: all
  tasks:
    - name: Check Calico manifest applied
      ansible.builtin.command: ls /etc/cni/net.d/calico-kubeconfig
      register: calico_manifest
      changed_when: false

    - name: Assert Calico manifest exists
      ansible.builtin.assert:
        that:
          - calico_manifest.rc == 0
