---
- name: Verify Calico installation
  hosts: all
  tasks:
    - name: CNI Check if Calico kubeconfig exists
      ansible.builtin.stat:
        path: /etc/cni/net.d/calico-kubeconfig
      register: cni_calico_calico_marker

    - name: CNI Assert Calico is installed
      ansible.builtin.assert:
        that:
          - cni_calico_calico_marker.stat.exists

