---
- name: Verify kube_node configuration
  hosts: all
  tasks:
    - name: Check kubelet.conf exists
      ansible.builtin.stat:
        path: /etc/kubernetes/kubelet.conf
      register: kube_node_kubelet_conf

    - name: Assert kubelet.conf exists
      ansible.builtin.assert:
        that:
          - kube_node_kubelet_conf.stat.exists

    - name: Check kubelet service status
      ansible.builtin.systemd:
        name: kubelet
      register: kube_node_kubelet_service

    - name: Assert kubelet service is active
      ansible.builtin.assert:
        that:
          - kube_node_kubelet_service.status == 'running'



