---
- name: Check if kubelet.conf exists
  ansible.builtin.stat:
    path: /etc/kubernetes/kubelet.conf
  register: kube_node_kubelet_conf

- name: Assert node is joined
  ansible.builtin.assert:
    that:
      - kube_node_kubelet_conf.stat.exists
