---
- name: Verify kube_node configuration
  hosts: all
  tasks:
    - name: Check kubelet.conf exists
      ansible.builtin.stat:
        path: /etc/kubernetes/kubelet.conf
      register: kubelet_conf

    - name: Assert kubelet.conf exists
      ansible.builtin.assert:
        that:
          - kubelet_conf.stat.exists

    - name: Check kubelet service running
      ansible.builtin.command: systemctl is-active kubelet
      register: kubelet_service
      changed_when: false

    - name: Assert kubelet service is active
      ansible.builtin.assert:
        that:
          - "'active' in kubelet_service.stdout"


