---
- name: Ensure kubeadm is installed
  ansible.builtin.package:
    name: kubeadm
    state: present

- name: Validate kubeadm binary exists
  ansible.builtin.stat:
    path: /usr/bin/kubeadm
  register: kube_node_kubeadm_binary

- name: Fail if kubeadm is not installed
  ansible.builtin.fail:
    msg: "kubeadm is not installed. Please install kubeadm before proceeding."
  when: not kube_node_kubeadm_binary.stat.exists

- name: Join Kubernetes node
  ansible.builtin.command: kubeadm join {{ master_ip }} --token {{ token }} --discovery-token-ca-cert-hash {{ ca_cert_hash }}
  args:
    creates: /etc/kubernetes/kubelet.conf
  when: kube_node_kubeadm_binary.stat.exists
