---
- name: Check if node already joined
  ansible.builtin.stat:
    path: /etc/kubernetes/kubelet.conf
  register: kubelet_conf

- name: Join node to cluster
  ansible.builtin.command: "{{ kubeadm_join_command }}"
  when: kubeadm_join_command is defined and kubelet_conf.stat.exists == False
  changed_when: false  # ✅ Fix för lint-regeln
  tags:
    - node
    - join
