---
- name: Install basic packages
  ansible.builtin.apt:
    name:
      - curl
      - vim
      - net-tools
    state: present
    update_cache: yes
  tags:
    - common
    - packages

- name: Install basic packages
  ansible.builtin.apt:
    name:
      - curl
      - vim
      - net-tools
    state: present
    update_cache: yes
  tags:
    - common
    - packages

