---
- name: Verify common packages
  hosts: all
  tasks:
    - name: Check if curl is installed
      ansible.builtin.command: dpkg -l | grep curl
      register: common_curl_check
      changed_when: false

    - name: Assert curl is installed
      ansible.builtin.assert:
        that:
          - "'curl' in common_curl_check.stdout"

    - name: Check if vim is installed
      ansible.builtin.command: dpkg -l | grep vim
      register: common_vim_check
      changed_when: false

    - name: Assert vim is installed
      ansible.builtin.assert:
        that:
          - "'vim' in common_vim_check.stdout"

