---
- name: Verify preflight configuration
  hosts: all
  tasks:
    - name: Check swap is disabled
      ansible.builtin.command: swapon --summary
      register: preflight_swap_status
      changed_when: false

    - name: Assert swap is disabled
      ansible.builtin.assert:
        that:
          - preflight_swap_status.stdout == ""

    - name: Check kernel module br_netfilter
      ansible.builtin.command: lsmod | grep br_netfilter
      register: preflight_br_netfilter_status
      changed_when: false

    - name: Assert br_netfilter is loaded
      ansible.builtin.assert:
        that:
          - "'br_netfilter' in preflight_br_netfilter_status.stdout"
