- name: Install addons
  hosts: master
  tasks:
    - name: Install Metrics Server
      ansible.builtin.command: kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
      args:
        creates: /etc/kubernetes/addons/metrics-server.yaml

    - name: Install Kubernetes Dashboard
      ansible.builtin.command: kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v2.7.0/aio/deploy/recommended.yaml
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
      args:
        creates: /etc/kubernetes/addons/dashboard.yaml
